<% provide :title, @url.short_code %>
<div class="row">
  <div class="centered">
    <h2>Your shortened URL to <%= link_to @url.url, @url.url %><h2>
  </div>
  <div class="centered">
  <div class="centered">
    <h2><%= link_to short_code_url(@url.short_code), short_code_url(@url.short_code), id: "short_url"%></h2>
  </div>
  <%= form_for @url, url: { action: "disable", secret_code: @url.secret_code }, method: "POST" do |f| %>
    <%= f.submit "Disable", id: "disable_url", class: "button small"%>
  <% end %>
</div>
<br>
